<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="bingo-board">
        {% for row in bingo_board %}
            {% for text in row %}
                <div class="bingo-square">{{ text }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
